label{
  display: block;
  margin-bottom: 15px;
}

input{
  margin-top: 7px;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  background-color: inherit;
  color: inherit;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

input[type='date']::-webkit-calendar-picker-indicator { 
  display: block;
  background-color: rgba(255, 255, 255, .45);
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

input[type='date']::-webkit-datetime-edit-text, 
input[type='date']::-webkit-datetime-edit-month-field,
input[type='date']::-webkit-datetime-edit-day-field,
input[type='date']::-webkit-datetime-edit-year-field { 
  color: rgba(255, 255, 255, .45); 
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

input[type='date']:focus::-webkit-calendar-picker-indicator,
input[type='date']:hover::-webkit-calendar-picker-indicator{
  background-color: rgba(255, 255, 255, 1);
}

input[type='date']:focus::-webkit-datetime-edit-text, 
input[type='date']:focus::-webkit-datetime-edit-month-field,
input[type='date']:focus::-webkit-datetime-edit-day-field,
input[type='date']:focus::-webkit-datetime-edit-year-field,
input[type='date']:hover::-webkit-datetime-edit-text, 
input[type='date']:hover::-webkit-datetime-edit-month-field,
input[type='date']:hover::-webkit-datetime-edit-day-field,
input[type='date']:hover::-webkit-datetime-edit-year-field {
  color: rgba(255, 255, 255, 1);
}

input:hover::placeholder {
  color: #fff;
}

input:focus,
input:hover {
  box-shadow: 0px 0px 10px 3px #fff
}