.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > button {
  padding: 10px;
  border-radius: 10px;
  background-color: inherit;
  color: inherit;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.buttons > button:not(:last-child) {
  margin-right: 15px;
}

button[name='submit'] {
  background-color: rgba(0, 255, 115, .6);
}

button[name='reset'] {
  background-color: rgba(255, 42, 42, 0.6);
}

button[name='submit']:hover {
  background-color: rgba(0, 255, 115, 1);
}

button[name='reset']:hover {
	background-color:rgba(255, 0, 0, 1);
}