*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  color: #fff;
	background-color: #2a2a2a;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

h2{
  text-align: center;
  text-transform: capitalize;
}

.container {
  max-width: 450px;
  padding: 50px 15px;
  margin: 0 auto;
}



/* -------- */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > button {
  padding: 10px;
  border-radius: 10px;
  background-color: inherit;
  color: inherit;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.buttons > button:not(:last-child) {
  margin-right: 15px;
}




.error {
  font-size: 16px;
  color: red;
  margin: 7px 0 10px 0;
}


.count {
  font-size: 13px;
  text-align: right;
  color: #fff;
}


