*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-size: 18px;
  color: #fff;
	background-color: #2a2a2a;
	font-family: sans-serif;

}


h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

h2{
  text-align: center;
  text-transform: capitalize;
}

form {
  width: 100%;
}

label{
  display: block;
  margin-bottom: 15px;
}

input,
textarea {
  margin-top: 7px;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  background-color: inherit;
  color: inherit;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #fff;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
  box-shadow: 0px 0px 10px 3px #fff;
}

textarea{
  resize: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 450px;
  padding: 50px 15px;
  margin: 0 auto;
}

.error {
  font-size: 16px;
  color: red;
  margin: 7px 0 10px 0;
}

.count {
  font-size: 13px;
  text-align: right;
  color: #fff;
}


