*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  color: #fff;
	background-color: #2a2a2a;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.container {
  max-width: 450px;
  padding: 50px 15px;
  margin: 0 auto;
}